<!--TODO: refactor frontend-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping</title>
  </head>
  <body>
    <h1>Welcome to my shopping page</h1>
    <button onclick="login()">login</button>
    <div>
      <button onclick="allProduct()">所有商品</button>
    </div>
    <div>
      <form>
        <label for="userID">userID</label>
        <input type="number" name="userID" id="userID" /><br />
      </form>
      <form class="form">
        <font color="blue" onclick="product(1) ">product1</font>
        <label for="count">count</label>
        <input type="number" name="count" id="count" />
        <button type="submit">加入購物車</button>
      </form>
      <form class="form">
        <font color="blue" onclick="product(2) ">product2</font>
        <label for="count">count</label>
        <input type="number" name="count" id="count" />
        <button type="submit">加入購物車</button>
      </form>
      <form class="form">
        <font color="blue" onclick="product(3) ">product3</font>
        <label for="count">count</label>
        <input type="number" name="count" id="count" />
        <button type="submit">加入購物車</button>
      </form>
      <form class="form">
        <font color="blue" onclick="product(4) ">product4</font>
        <label for="count">count</label>
        <input type="number" name="count" id="count" />
        <button type="submit">加入購物車</button>
      </form>
      <form class="form">
        <font color="blue" onclick="product(5) ">product5</font>
        <label for="count">count</label>
        <input type="number" name="count" id="count" />
        <button type="submit">加入購物車</button>
      </form>
    </div>
    <div>
      <button onclick="cart()">cart</button>
    </div>
    <div class="buy">
      <button type="click">buy</button>
    </div>
    <div class="history" id="historyList">
      <button type="click">history</button>
      <table border="1">
        <thead>
          <tr>
              <th colspan="2">購物歷史紀錄</th>
          </tr>
          <td>使用者ID</td>
          <td>產品ID</td>
          <td>數量</td>
          <td>總價</td>
          <td>購買時間</td>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <script>
      //////////////////post模板
      const formq = document.querySelector(".form");
      const formu = document.getElementById("userID");
      formq.addEventListener("submit", (event) => {
        event.preventDefault();
        const formData = new FormData(formq);
        const data = Object.fromEntries(formData);

        data.count = parseInt(data.count);
        console.log(data);
        const userID = formu.value;
        console.log(userID);
        data.userID = userID;
        console.log(data);
        // fetch("/cart", {
        //   method: "POST",
        //   headers: {
        //     "Content-Type": "application/json",
        //   },
        //   body: JSON.stringify(data),
        // });
      });
      ///////////////////
      const his = document.querySelector(".history");
      const list = document.getElementById("historyList");
      const b = document.createElement("br");
      his.addEventListener("click", (event) => {
        event.preventDefault();
        const hisData = {
          userID: formu.value,
        };
        console.log(hisData);
        $.ajax({
          type: "POST",
          url: "/user/history",
          dataType: "html",
          data: hisData,
        })
          .then((res) => {
            console.log(res);
            let tbody=document.querySelector("tbody");
            for(let i=0;i<res.length;i++){
              let tr=document.createElement('tr');
              tbody.appendChild(tr);
              for(j=0;j<5;j++){
                let td=document.createElement('td');
                td.innerHTML=res[i]
              }
            }
            document.body.insertBefore(table, list);
          })
          .catch({});
      });
      ///////////////////
      const buy = document.querySelector(".buy");
      buy.addEventListener("click", (event) => {
        event.preventDefault();
        const buyData = {
          userID: formu.value,
        };
        console.log(buyData);
        $.ajax({
          type: "POST",
          url: "/cart/total",
          dataType: "html",
          data: buyData,
        })
          .then((res) => {
            console.log(res);
          })
          .catch({});
      });
      ///////////////////
      function allProduct() {
        console.log("all product:");
        $.ajax({
          url: "/product/all",
          type: "GET",
        })
          .then((res) => {
            console.log(res);
          })
          .catch((err) => {
            console.log(err);
          });
      }
      function cart() {
        $.ajax({
          url: "/cart/current",
          type: "GET",
        })
          .then((res) => {
            console.log(res);
          })
          .catch((err) => {
            console.log(err);
          });
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </body>
</html>
